{% extends "themes/base.html" %}

{% block content %}
	<div class="span10 offset1" id="wizard_page">

        <div class="page-header" style='border-bottom: none;' >
            <h1>Create A Game</h1>
        </div>

        <div style="margin-bottom: 20px;">
            <button class="btn btn btn-large disabled i" id="prev"><i class="icon-arrow-left"></i> Previous</button>
            <button class="btn btn-primary btn-large pull-right "  id="next">Next <i class="icon-arrow-right"></i></button>
        </div>
        <form class="form-horizontal well" id="wizard_form" style="height:450px;">
            <div id="wizard_carousel" class="carousel slide" >
                <div class="carousel-inner" style="height:450px;">
                    <div class="active item"  align='center'>

                        <h3>Privacy Policy</h3>

                        <table style="margin-top: 50px;" class=" table table-striped table-bordered">
                            <tr>

                                <td style="border-right: none;width:150px;">
                                    <label class="radio">
                                        <input type="radio" name="perms" value="public" checked/>
                                        Public
                                    </label>
                                </td>
                                <td style="border-left: none;">
                                    <i class="icon-group">
                                </td>
                                <td style=" border-left: none;">
                                    Want to share your joy wth the world wide web? Createing a public will share the love.  A public game will be accessible to any anonymous user to join, no login required. You know what they say, sharing is caring!
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right: none;width:150px;">
                                    <label class="radio">
                                        <input type="radio" name="perms" value="private" />
                                        Private
                                    </label>
                                </td>
                                <td style="border-left: none;">
                                    <i class="icon-lock">
                                </td>
                                <td style="border-left: none;">
                                    Feel like sticking close to your buds? Creating a private game will keep things personal. A private game will require all users (including yourself) to login and have appropriate permission in order to participate in a game. What happens in sketchophone stays in sketchophone!
                                </td>
                            </tr>

                        </table>

                    </div>

                    <div class="item " >
                        <h3 align='center'>Game Settings</h3>

                        <div >
                        <div class="control-group" >
                            <label class="control-label">Game Title</label>
                            <div class="controls">
                                <input type="text" name="name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Number of Rounds</label>
                            <div class="controls">
                                <input class="span2" type="number" name="num_of_rounds" min = "3" value="3"/>
                                
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Friends to Invite</label>
                            <div class="controls">
                                <input type="text" name="tags" placeholder="Type username here" class="tagManager"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Friend List</label>
                            <div class="controls" id='tagsContainer'>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="item" align='center'>

                        <h1>Let's Get Things Started!</h1>
                        <h3 class="muted">Start the game with a phrase.</h3>
                        <div>
                            <input class="span8" style="margin-top: 20px;" type="text" name="start_text" placeholder="Enter your phrase here..."/>
                        </div>
                    </div>
                </div>
            </div>
        </form>

	</div>
{% endblock content %}  



{% block js_include %}
    <script>
        //************
        // init code 
        //************
            'use strict';

            // Store DOM elments that are used more than once
            // This way we don't have to waste resources "reselecting".
            var $wizard_from = $("#wizard_form");
            var $wizard_carousel = $('#wizard_carousel');
            var $prev_button = $("#prev");
            var $next_button = $("#next");

            // ennsure that when a table is clicked
            // we update the radio button inside it
            $wizard_from.find("tr").click(function(){
                $("input", this).prop('checked', true);
            });


            // This function was found and documented here.
            // This function appends to jquery giving us the 
            // ability to serialize froms into json!
            // http://css-tricks.com/snippets/jquery/serialize-form-to-json/
            $.fn.serializeObject = function()
            {
               var o = {};
               var a = this.serializeArray();
               $.each(a, function() {
                   if (o[this.name]) {
                       if (!o[this.name].push) {
                           o[this.name] = [o[this.name]];
                       }
                       o[this.name].push(this.value || '');
                   } else {
                       o[this.name] = this.value || '';
                   }
               });
               return o;
            };

        //************



        //************
        // Tag Management (for adding friends)
        //************
            var found_usernames = [];
            var keys_to_return = {};
            var key_by_username = {};
            var ajaxUserQuery = function(query, call_back){ 
                if (query.length <= 3)
                {
                    $.getJSON('{{ url_for('user_query') }}',{'query':query},function(response){

                        key_by_username = response.key_by_username;
                        found_usernames = response.usernames;

                        call_back(found_usernames);
                    });
                }
                return found_usernames;
            }

            var validate = function(to_validate){
                if (found_usernames.indexOf(to_validate) >= 0)
                {
                    keys_to_return[to_validate] = key_by_username[to_validate];
                    return true;
                }
                return false;
            }
            var removed = function(to_remove){
                delete keys_to_return[to_remove];
            }

            $(".tagManager").tagsManager({
                typeahead: true,
                typeaheadSource: ajaxUserQuery,
                validator: validate,
                tagRemovedAction: removed,
                hiddenTagListName: 'friends',
                tagsContainer: $("#tagsContainer")
            });
        //************

        

        //************
        // Carousel Management
        //************
            var step = 0;
            // disable carousel from moving automatically 
            $wizard_carousel.each(function(){
                $(this).carousel({
                    interval: false
                });
            });        

            $wizard_carousel.bind('slide', function() {
                if(step == 0)
                {
                    $prev_button.addClass('disabled');
                }
                else
                {
                    $prev_button.removeClass('disabled');
                }

                if(step == 2)
                {
                    $next_button.html('Finish! <i class="icon-arrow-right">');
                    $next_button.addClass('btn-success');
                }
                else
                {
                    $next_button.html('Next <i class="icon-arrow-right">');
                    $next_button.removeClass('btn-success');
                }
            });
        //************



        //************
        // Buttons 
        //************

            var waiting_server_reply = false;
            $next_button.click(function() {

                if (step == 2)
                {
                    if (!waiting_server_reply)
                    {
                        waiting_server_reply = true;
                        var submition = $wizard_from.serializeObject();

                        // overide friends with keys to return (w/ current_user)
                        {% if current_user.is_authenticated() %}
                            submition['created_by'] = "{{ current_user.key() }}"
                        {% endif %}

                        submition['guests'] = []
                        $.each(keys_to_return, function(key, value) { 
                            submition['guests'].push(value);
                        });

                        $.ajax({
                                url: '{{ url_for('wizard') }}',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({'form':submition}),
                                dataType: 'json'
                        }).done(function(data){

                            if (data.success)
                            {
                                window.location.replace("{{url_for('home')}}");
                            }
                            else
                            {
                                // we need to manage this error better
                                window.alert('We have a problem...');
                            }
                            waiting_server_reply = false;
                        });
                    }
                }
                else
                {
                    step ++;
                    $wizard_carousel.carousel(step);
                }
            });

            $prev_button.click(function() {
                step = step > 0 ? step-1:step;
                $wizard_carousel.carousel(step);
            });
        //************
    </script>
{% endblock %}  