{% extends "base.html" %}

{% block content %}
	<div class="span12">

        <div class="page-header" style="margin-top: -5px;">
            <h3>Create A Game</h3>
        </div>

        <form class="form-horizontal well" id="wizard_form" >
            <div id="wizard_carousel" class="carousel slide" >
                <div class="carousel-inner" style="height:200px;">
                    <div class="active item">
                        <div class="control-group">
                            <label class="control-label">Privacy Policy</label>
                            <div class="controls">
                                <table class="table table-striped table-bordered">
                                    <tr>

                                        <td style="border-right: none;width:150px;">
                                            <label class="radio">
                                                <input type="radio" name="privacy" value="public" checked/>
                                                Public
                                            </label>
                                        </td>
                                        <td style="border-left: none;">
                                            <i class="icon-group">
                                        </td>
                                        <td style=" border-left: none;">
                                            Want to share your joy wth the world wide web? Createing a public will share the love.  A public game will be accessible to any anonymous user to join, no login required. You know what they say, sharing is caring!
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-right: none;width:150px;">
                                            <label class="radio">
                                                <input type="radio" name="privacy" value="private" />
                                                Private
                                            </label>
                                        </td>
                                        <td style="border-left: none;">
                                            <i class="icon-lock">
                                        </td>
                                        <td style="border-left: none;">
                                            Feel like sticking close to your buds? Creating a private game will keep things personal. A private game will require all users (including yourself) to login and have appropriate permission in order to participate in a game. What happens in sketchapohne stays in sketchaphone! 
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>   
                    </div>

                    <div class="item">
                        <div class="control-group">
                            <label class="control-label">Game Type</label>
                            <div class="controls">
                                 <table class="table table-striped table-bordered">
                                    <tr>

                                        <td style="border-right: none;width:150px;">
                                            <label class="radio">
                                                <input type="radio" name="type" value="lin" checked/>
                                                Linear
                                            </label>
                                        </td>
                                        <td style="border-left: none;">
                                            <i class="icon-resize-horizontal">
                                        </td>
                                        <td style=" border-left: none;">
                                            Wanting to be simple? Creating a linear game will keep things easy.  In a linear game only one player can go at a time and only one chain of sketches and pharses are made.  The game starts with you and goes forever!
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-right: none;width:150px;">
                                            <label class="radio">
                                                <input  type="radio" name="type" value="cir" />
                                                Circular
                                            </label>
                                        </td>
                                        <td style="border-left: none;">
                                            <i class="icon-retweet">
                                        </td>
                                        <td style="border-left: none;">
                                            Want to make things crazy?  Creating a circular game makes it so that everyone starts a chain and everyone in the game adds to each others chain. The game ends when everyone has particapated in every one elses chain.
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="control-group">
                            <label class="control-label">Game Title</label>
                            <div class="controls">
                                <input type="text" name="name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Friends to Invite</label>
                            <div class="controls">
                                <input type="text" name="tags" placeholder="Type username here" class="tagManager"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        <button class="btn btn-primary btn-large pull-right" style="margin-left:5px; width:140px;" id="next">Next <i class="icon-arrow-right"></i></button>
        <button class="btn btn pull-right btn-large disabled i" style="margin-left:5px; " id="prev"><i class="icon-arrow-left"></i> Previous</button>

	</div>
{% endblock content %}  


{% block js_include %}
    <script>

        // ennsure that when a table is clicked
        // we update the radio button inside it
        $("#wizard_form").find("tr").click(function(){
            $("input", this).prop('checked', true);

        });

        // disable carousel from moving automatically 
        $('#wizard_carousel').each(function(){
            $(this).carousel({
                interval: false
            });
        });


        old = [];
        var ajaxUserQuery = function(query,call_back){ 
            if(query.length <= 3)
            {
                $.getJSON('/auth/user/query/',{'query':query},function(response){
                    old = response.found_tags;
                    call_back(response.found_tags);

                });
            }
            return old;
        }
        var validate = function(to_validate){
            return old.indexOf(to_validate) >= 0;
        }

        $(".tagManager").tagsManager({
            typeahead: true,
            typeaheadSource: ajaxUserQuery,
            validator:validate,
            hiddenTagListName: 'friends',
        });

        var step = 0;

        $('#wizard_form').bind('slide', function() {
            if(step == 0)
            {
                $("#prev").addClass('disabled');
            }
            else
            {
                $("#prev").removeClass('disabled');
            }

            if(step == 2)
            {
                $("#next").html('Finish! <i class="icon-arrow-right">');
                $("#next").addClass('btn-success');
            }
            else
            {
                $("#next").html('Next <i class="icon-arrow-right">');
                $("#next").removeClass('btn-success');
            }
        });

        $("#next").click(function() {

            if(step == 2)
            {
                var submition = $("#wizard_form").serialize()
                window.alert(submition);
                $.post('/sketch/create/?'+submition,{},function(response){
                    // handle that the model was create successfully

                }, "json");
            }
            else
            {
                step ++;
                $('#wizard_carousel').carousel(step);

            }
        });

        $("#prev").click(function() {
            step = step > 0 ? step-1:step;
            $('#wizard_carousel').carousel(step);
        });
    </script>
{% endblock %}  