{% extends "themes/base.html" %}

{% block style %}

    <style>
        h2  {
            text-align: center;
        }
    </style>

{% endblock %}

{% block content %}

    <h2>Meet the Creators</h2>
    <br>

    <div class="row-fluid">
        <div class="span4 offset1">

            <h4>Sheil Patel <small>Software Engineering</small></h4>
            <p>Write short bio here</p>

            <h4>Theisen Sanders <small>Computer Science</small></h4>
            <p>Write short bio here</p>

        </div>

        <div class="span4 offset2">

            <h4>Robert Sheehy <small>Software Engineering</small></h4>
            <p>Write short bio here</p>

            <h4>Dylan Rasmusson <small>Computer Engineering</small></h4>
            <p>Write short bio here</p>

        </div>


        <div class="row-fluid">
            <div class="span12">
                <hr>
                <h2>About Sketchophone</h2>
                <br>
                <p>Our goal is to create an accessible, exceptional, and well-designed game that any gamer can appreciate.
                    Sketchophone was launched in 2013 as part of an Iowa State University course project.
                    The course in question is Computer Science 309: Aspects of Software Development.
                </p>
            </div>
        </div>
    </div>

{% endblock content %}