{% extends "base.html" %}

{% block content %}
    <div class="hero-unit">
        <div class="row-fluid">
			<div class="span10 well">
				<h1>How Do You Play Sketchophone?</h1>
				<p><b>Ever heard of telephone pictionary?  Then you already know how to
				how to play Sketchophone!  Not sure what telephone pictionary is?  In a 
				nutshell, to start a game of telephone pictionary, you need a bunch of 
				people.  They don't have to be friends, just..people.  Next, everyone 
				in the group writes a sentence on a piece of paper, or in the case of this 
				website, on the screen using the keyboard. You can write anything, for example,
				 "Ninja Dogs on Skateboards".  <h3>The aim is to be creative!</h3>  After you are finished, 
				 we'll send your sentence to another person in the group and they will try to 
				 draw your sentence, and you will receive a sentence that you must try to draw!  
				 After you are done drawing, we'll sending your drawing to another person and they 
				 will try to translate what you drew into a sentence.  Then finally, we'll send 
				 that sentence to another person in the group to draw, and so goes the game.  Phew, 
				 that was long, but now you know how to play Sketchophone!  <h2>Have Fun!</h2></b></p>
			</div>
			<div class="span9">

				<div class="row">
					<div class="span7 well">
						<h1>About Sketchophone</h1>
						<p>Our goal is to create an accessible, exceptional, and well-designed game that any hardcore or casual gamer would appreciate.

						SketchOPhone was launched in 2013 as part of an Iowa State University course project.  The course in question is Computer Science 309: Aspect of Software Development.
						</p>
					</div>
					<div class="span5 well">
						<h1>Authors</h1>
						<p><h5 class="page-header">Sheil Patel <small>Software Engineering</small></h5></p>
						<p><h5 class="page-header">Theisen Sanders <small>Computer Science</small></h5></p>
						<p><h5 class="page-header">Robert Sheehy <small>Software Engineering</small></h5></p>
						<p><h5 class="page-header">Dylan Rasmusson <small>Computer Engineering</small></h5></p>
					</div>
				</div>
			</div>
		</div>
    </div>
	
	
{% endblock content %}