<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sketchophone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/bootstrap-tagmanager.css") }}" rel="stylesheet">
    <style>
        body { padding-top: 60px; }
    </style>
    {% block style %}{% endblock %}
    
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url_for('home')}}">Sketchophone</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="{{ url_for('home')}}"><i class='icon-home icon-large'></i> Home</a></li>
                    <li class=""><a href="{{ url_for('sketch')}}"><i class='icon-pencil icon-large'></i> Sketch</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle"href="#" data-toggle="dropdown">
                            {{ current_user.username }}<strong class="caret"></strong></a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                            {% if current_user.is_authenticated() %}
                                <li><a href={{ url_for('user') }}>My Account</a></li>
                                <li class="divider"></li>
                                <li><a href={{ url_for('logout') }}>Logout</a></li>
                            {% else %}
                                <li><a href={{ url_for('login') }}>Sign In</a></li>
                                <li class="divider"></li>
                                <li><a href={{ url_for('register') }}>Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade in">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div id="content">{% block content %}{% endblock %}</div>
        </div>
    </div>
</div>

<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename="js/jquery-1.9.0.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/bootstrap-tagmanager.js") }}"></script>
{% block js_include %}{% endblock %}

<script type="text/javascript">
    window.onload = function() {
        // Fade out alerts
        $(".alert").delay(3000).fadeOut("slow", function () { $(this).remove(); });
    }
</script>

</body>
</html>