{% extends "themes/navbar.html" %}

{% block style %}

    <style type="text/css">

        .item {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

        .icon-quote-right {
            margin-top: -10px;
            float: right;
        }
        .icon-quote-left {
            margin-top: -10px;
            float: left;
        }
    
    </style>

{% endblock %}

{% block content %}

    <div class="span8 offset2">
        <div class="well item">
            {% if round.round_type == 'story' %}
                <i class="icon-quote-left icon-2x"></i>
                <h3>{{ round.data }}</h3>
                <i class="icon-quote-right icon-2x"></i>
            {% else %}
                <canvas id="sketch"></canvas>
            {% endif %}
        </div>
        <div class="btn-group pull-right">
            <button class="btn btn-large unflag-round" value="{{ round.key() }}">Dismiss</button>
            <button class="btn btn-large btn-danger ban-round" value="{{ round.key() }}">Ban</button>
        </div>
    </div>

{% endblock content %}

{% block js_include %}

    <script src="{{ url_for('static', filename="js/responsive-sketchpad.js")}}"></script>

    <script>

        {% if round.round_type == 'sketch' %}
            $('#sketch').sketchpad({
                backgroundColor: '#fff',
                data: {{round.data|safe}},
                locked: true
            });
        {% endif %}

        $(".ban-round").click(function(){
            $.ajax({
                type: "POST",
                url: "{{ url_for('ban_round') }}",
                data: JSON.stringify({
                    round_key: $(this).val(),
                    state: true
                }),
                contentType: 'application/json',
                dataType: 'json'
            });
            window.location = '{{ url_for('user') }}#admin'
        });

        $(".unflag-round").click(function(){
            $.ajax({
                type: "POST",
                url: "{{ url_for('flag_round') }}",
                data: JSON.stringify({
                    round_key: $(this).val(),
                    state: false
                }),
                contentType: 'application/json',
                dataType: 'json'
            });
            window.location = '{{ url_for('user') }}#admin'
        });

    </script>

{% endblock js_include %}