{% extends "themes/navbar.html" %}

{% block style %}
    <link href="{{ url_for('static', filename="css/add2home.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Sketchophone</h1>
        <p class="lead">The Online Game of Telephone Pictionary</p>

        <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                Play Now!
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('wizard') }}"><i class="icon-plus"></i> Create A Game</a></li>
                <li><a href="{{ url_for('search') }}"><i class="icon-search"></i> Search For A Game</a></li>
            </ul>
        </div>
    </div>

{% endblock content %}

{% block js_include %}
    <script src="{{ url_for('static', filename="js/add2home.js") }}"></script>

    {% if reset_app2home %}
        <script>
            addToHome.show(true)
        </script>
    {% endif %}

{% endblock %}