{% extends "themes/base.html" %}

{% block style %}

    <style type="text/css">
        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
        }
        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Sketchophone</h1>
        <p class="lead">The Online Game of Telephone Pictionary</p>
        <div class="btn-group">
            <a href="{{ url_for('random_game') }}" class="btn btn-primary">Play Now!</a>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding-left:12px; padding-right:12px"><span class="caret"></span></button>
            <ul class="dropdown-menu" style="text-align: left">
                <li><a href="{{ url_for('random_game') }}"><i class="icon-random"></i> Join a Random Game</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('wizard') }}"><i class="icon-plus"></i> Create A Game</a></li>
                <li><a href="{{ url_for('search') }}"><i class="icon-search"></i> Search For A Game</a></li>
            </ul>
        </div>
    </div>

{% endblock content %}