{% extends "themes/navbar.html" %}

{% block style %}

    <style>
        h2, h3 {
            text-align: center;
            margin-bottom: 30px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row-fluid" style="margin-bottom: 30px">
        <div class="span8 offset2">
            <h2>How To Play</h2>

            <p>Ever heard of telephone pictionary? Then you already know how to how to play Sketchophone! Not sure what telephone pictionary is?
                In a nutshell, to start a game of telephone pictionary, you need a bunch of people. They don't have to be friends, just..people.</p>

            <p>Next, everyone in the group writes a sentence on a piece of paper, or in the case of this website, on the screen using the keyboard.
                You can write anything, for example, "Ninja Dogs on Skateboards". The aim is to be creative! After you are finished,
                we'll send your sentence to another person in the group and they will try to draw your sentence, and you will receive a sentence
                that you must try to draw! After you are done drawing, we'll sending your drawing to another person and they will try to translate
                what you drew into a sentence. Then finally, we'll send that sentence to another person in the group to draw, and so goes the game.
                Phew, that was long, but now you know how to play Sketchophone!</p>
            <h3>Have Fun!</h3>
        </div>
    </div>

{% endblock content %}