{% extends "themes/navbar.html" %}

{% block style %}

    <link href="{{ url_for('static', filename="css/bootstrap.datatables.css") }}" rel="stylesheet">

    <style>

        {# Hide Created Column on Mobile #}
        @media (max-width: 480px) {
            .col-created {display: none;}
        }

    </style>

{% endblock %}

{% block content %}

        <table class="table table-bordered table-hover table-striped" id="search_table">
            <thead>
            <tr>
                <th class="col-name">Name</th>
                <th class="col-created">Created</th>
                <th class="col-status">Status</th>
                <th class="col-actions">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for game in public_games %}
                <tr>
                    <td class="col-name">{{ game.title }}</td>
                    <td class="col-created" value="{{ game.created }}">{{ game.created | pretty_date }}</td>
                    <td class="col-status">{{ game.status }}</td>
                    <td class="col-actions">
                        <div class="btn-group">
                            {% if game.is_over() %}
                            <a href="/game/timeline/{{ game.key() }}" class="btn btn-primary" role="button" data-toggle="modal">View</a>
                            {% else %}
                            <a href="/game/{{ game.key() }}" class="btn" role="button" data-toggle="modal">Join</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock content %}

{% block js_include %}

    <script src="{{ url_for('static', filename="js/jquery.dataTables.min.js") }}"></script>

    <script>

        /* API method to get paging information */
        $.fn.dataTableExt.oApi.fnPagingInfo = function ( oSettings )
        {
            return {
                "iStart":         oSettings._iDisplayStart,
                "iEnd":           oSettings.fnDisplayEnd(),
                "iLength":        oSettings._iDisplayLength,
                "iTotal":         oSettings.fnRecordsTotal(),
                "iFilteredTotal": oSettings.fnRecordsDisplay(),
                "iPage":          oSettings._iDisplayLength === -1 ?
                        0 : Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
                "iTotalPages":    oSettings._iDisplayLength === -1 ?
                        0 : Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
            };
        };

        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "title-pretty-date-pre": function ( a ) {
                var cell = $('.col-created:contains("' + a + '")');
                return cell.attr('value')
            },

            "title-pretty-date-desc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "title-pretty-date-asc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        } );

        /* Bootstrap style pagination control */
        $.extend( $.fn.dataTableExt.oPagination, {
            "bootstrap": {
                "fnInit": function( oSettings, nPaging, fnDraw ) {
                    var oLang = oSettings.oLanguage.oPaginate;
                    var fnClickHandler = function ( e ) {
                        e.preventDefault();
                        if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
                            fnDraw( oSettings );
                        }
                    };

                    $(nPaging).addClass('pagination').append(
                            '<ul>'+
                                    '<li class="prev disabled"><a href="#">&larr;</a></li>'+
                                    '<li class="next disabled"><a href="#">&rarr;</a></li>'+
                                    '</ul>'
                    );
                    var els = $('a', nPaging);
                    $(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
                    $(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
                },

                "fnUpdate": function ( oSettings, fnDraw ) {
                    var iListLength = 3;
                    var oPaging = oSettings.oInstance.fnPagingInfo();
                    var an = oSettings.aanFeatures.p;
                    var i, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);

                    if ( oPaging.iTotalPages < iListLength) {
                        iStart = 1;
                        iEnd = oPaging.iTotalPages;
                    }
                    else if ( oPaging.iPage <= iHalf ) {
                        iStart = 1;
                        iEnd = iListLength;
                    } else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
                        iStart = oPaging.iTotalPages - iListLength + 1;
                        iEnd = oPaging.iTotalPages;
                    } else {
                        iStart = oPaging.iPage - iHalf + 1;
                        iEnd = iStart + iListLength - 1;
                    }

                    for ( i=0, iLen=an.length ; i<iLen ; i++ ) {
                        // Remove the middle elements
                        $('li:gt(0)', an[i]).filter(':not(:last)').remove();

                        // Add the new list items and their event handlers
                        for ( j=iStart ; j<=iEnd ; j++ ) {
                            sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
                            $('<li '+sClass+'><a href="#">'+j+'</a></li>')
                                    .insertBefore( $('li:last', an[i])[0] )
                                    .bind('click', function (e) {
                                        e.preventDefault();
                                        oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
                                        fnDraw( oSettings );
                                    } );
                        }

                        // Add / remove disabled classes from the static elements
                        if ( oPaging.iPage === 0 ) {
                            $('li:first', an[i]).addClass('disabled');
                        } else {
                            $('li:first', an[i]).removeClass('disabled');
                        }

                        if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
                            $('li:last', an[i]).addClass('disabled');
                        } else {
                            $('li:last', an[i]).removeClass('disabled');
                        }
                    }
                }
            }
        } );

        $(function() {
            var table = $('#search_table').dataTable( {
                "sDom": "<'container-fluid'" +
                            "<'row-fluid'<'span10 offset1'" +
                                "<'row-fluid'" +
                                    "<'span12'" +
                                        "<'span4 offset8' f>" +
                                    ">" +
                                ">" +
                                "<'row-fluid'" +
                                    "<'span12' t>" +
                                ">" +
                                "<'row-fluid'" +
                                    "<'span12'" +
                                        "<'span6' l>" +
                                        "<'span6' p>" +
                                    ">" +
                                ">" +
                            ">>" +
                        ">",
                "bInfo": false,
                "bAutoWidth": true,
                "sPaginationType": "bootstrap",
                "aoColumns":[
                    {"bSortable": true},
                    {"sType": "title-pretty-date"},
                    {"bSortable": true},
                    {"bSortable": false}
                ]
            });

            // Sort immediately with column 1
            table.fnSort( [ [1,'asc'] ] );
        });

    </script>
{% endblock js_include %}
