{% extends "themes/base.html" %}

{% block style %}

    <style>
        .toolbox a {
            margin: 0;
        }

        .tool div {
            color: #000;
            margin: 10px auto;
            padding: 0;
        }

        .toolbox .accordion-heading div {
            color: #000;
            margin: 0 auto;
        }

        .colorbox {
            width: 28px;
            height: 28px;
            border-radius: 5px;
        }

{#        .colorbox .selected {#}
{#            border: 1px solid #000;#}
{#        }#}
    </style>

{% endblock %}

{% block content %}

    <div class="span8 offset2">

        <h2>{{ game.title }}</h2>
        <div class="well">
            <p class="lead">{{ story }}</p>
        </div>

        <div class="container-fluid well">
            <div class="span1 toolbox">
                <h4>Toolbox</h4>
                <div class="accordion" id="toolbox">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#toolbox" href="#colors">
                                <div class="colorbox" id="current-color" style="background-color: black"></div>
                            </a>
                        </div>
                        <div id="colors" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a class="tool" href="#"><div class="colorbox" style="background-color: black"></div></a>
                                <a class="tool" href="#"><div class="colorbox" style="background-color: red"></div></a>
                                <a class="tool" href="#"><div class="colorbox" style="background-color: blue"></div></a>
                                <a class="tool" href="#"><div class="colorbox" style="background-color: green"></div></a>
                                <a class="tool" href="#"><div class="colorbox" style="background-color: yellow"></div></a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#toolbox" href="#utensils">
                                <div><i class="icon-pencil icon-2x"></i></div>
                            </a>
                        </div>
                        <div id="utensils" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a class="tool" id="pencil" href="#"><div class="utencil"><i class="icon-pencil icon-2x"></i></div></a>
                                <a class="tool" id="eraser" href="#"><div class="utencil"><i class="icon-remove icon-2x"></i></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span11">
                <canvas id="sketch">Your browser does not support HTML5 Canvas.</canvas>
            </div>
        </div>
        <a href="#" class="btn btn-large btn-primary pull-right" onclick="submitDrawing()">Submit</a>

    </div>

{% endblock content %}

{% block js_include %}

    <script src="{{ url_for('static', filename="js/responsive-sketchpad.js")}}"></script>

    <script>
        // Initialize Sketchpad
        var sketchpad = $("#sketch").sketchpad({
            aspectRatio: 2,
            backgroundColor: '#fff'
        });

        {# Submit Drawing #}
        function submitDrawing() {
            $.ajax({
                type: "POST",
                url: "/game/sketch/{{ game.key() }}",
                data: JSON.stringify({
                    round_type: 'sketch',
                    data: sketchpad.json()
                }),
                contentType: 'application/json',
                dataType: 'json',
                complete: function() {
                    window.location = "{{ url_for('success') }}"
                }
            })
        }

        $(".tool").click(function() {
            $(this).closest('.collapse').collapse('hide');
        });

        $

        $(".colorbox").click(function() {
            // Get color
            var color = $(this).css('backgroundColor');

            // Set new color
            $('#current-color').css('backgroundColor', color);
            sketchpad.lineColor(color);
        });

        $("#eraser").click(function() {
            sketchpad.lineColor('white');
        })

    </script>

{% endblock js_include %}