{% extends "themes/base.html" %}

{% block content %}
<head>
	<link href="{{ url_for('static', filename="css/colorpicker.css") }}" rel="stylesheet">
</head>
<div class="hero-unit">
<div class="well">
<h3><center>Description Text Here!</center></h3>
</div>
<div class="sketch well" id="sketch_page">
		<a class="btn" id="editor_pen"><i class='icon-pencil'></i> Marker</a>
		<a class="btn" id="editor_erase"><i class='icon-circle-blank'></i> Eraser</a>
		<a class="btn" id="editor_undo"><i class="icon-undo"></i> Undo</a>
		<a class="btn" id="editor_redo"><i class="icon-repeat"></i> Redo</a>
		<a class="btn" id="colorpicker" data-color-format="hex" data-color="rgb(255, 255, 255)">Marker Color <span class="caret"></span></a>
		<div class="btn-group" id="size_dropdown">
				<a class="btn dropdown-toggle" data-toggle="dropdown" id="size" href="#">Marker Size <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a id="editor_tiny">Tiny</a></li>
					<li><a id="editor_small">Small</a></li>
					<li><a id="editor_medium">Medium</a></li>
					<li><a id="editor_large">Large</a></li>
					<li><a id="editor_huge">Huge</a></li>
				</ul>
		</div>
		<div class="btn-group" id="opacity_dropdown">
			<a class="btn dropdown-toggle" data-toggle="dropdown" id="size" href="#">Opacity <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a id="editor_solid">Solid</a></li>
					<li><a id="editor_fuzzy">Fuzzy</a></li>
				</ul>
		</div>
		<a class="btn btn-danger" id="editor_clear"><i class='icon-trash'></i> Clear Sketch</a>

</div>
		<!--<canvas id="colors_sketch" width="1050" height="350" style="cursor: crosshair; background:#fff"></canvas>-->
		<div id="editor" style="cursor: crosshair; background:#fff"></div>
		<input type="hidden" id="data2" name="data2" />

		<p>
			<div class="btn-group dropup" id="image_size">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="options"><i class='icon-reorder'></i> Image Options <span class="icon-caret-up"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#colors_sketch" data-download="png"><i class="icon-external-link"></i> Download</a></li>
					<li><a id="editor_animate"><i class="icon-refresh icon-spin"></i> Animate Image!</a></li>
				</ul>
			</div>
			<a href="#" class="btn btn-success"><i class='icon-ok-sign'></i> Submit</a>
		</p>

		
		{% endblock content %}

	{% block js_include %}
		<script src="{{ url_for('static', filename="js/sketch.js") }}"></script>
		<script src="{{ url_for('static', filename="js/bootstrap-colorpicker.js")}}"></script>
		<script src="{{ url_for('static', filename="js/json2.js")}}"></script>
		<script src="{{ url_for('static', filename="js/raphael.js")}}"></script>
		<script src="{{ url_for('static', filename="js/raphael.sketchpad.js")}}"></script>
		<script type="text/javascript">

			$(document).ready(function() {
			var sketchpad = Raphael.sketchpad("editor", {
			height: 400,
			width: 1050,
			editing: true	// true is default
			});

			// When the sketchpad changes, update the input field.
			sketchpad.change(function() {
				$("#data2").val(sketchpad.json());
			});
			$(function() {
				$('#colorpicker').colorpicker().on('changeColor', function(ev){
				sketchpad.pen().color(ev.color.toHex());
			});
			});
			function enable(element, enable) {
				if (enable) {
					$(element).removeClass("disabled");
				} else {
					$(element).addClass("disabled");
				}
			};

			function select(element1, element2) {
				$(element1).addClass("selected");
				$(element2).removeClass("selected");
			}

			$("#editor_undo").click(function() {
				sketchpad.undo();
			});
			$("#editor_redo").click(function() {
				sketchpad.redo();
			});
			$("#editor_clear").click(function() {
				sketchpad.clear();
			});
			$("#editor_animate").click(function() {
				sketchpad.animate();
			});

			$("#editor_tiny").click(function() {
				sketchpad.pen().width(5);
			});
			$("#editor_small").click(function() {
				sketchpad.pen().width(10);
			});
			$("#editor_medium").click(function() {
				sketchpad.pen().width(15);
			});
			$("#editor_large").click(function() {
				sketchpad.pen().width(20);
			});
			$("#editor_huge").click(function() {
				sketchpad.pen().width(25);
			});
			$("#editor_solid").click(function() {
				select("#editor_solid", "#editor_fuzzy");
				sketchpad.pen().opacity(1);
			});
			$("#editor_erase").click(function() {
				select("#editor_erase","#editor_pen");
				sketchpad.editing("erase");
			});
			$("#editor_pen").click(function() {
				select("#editor_pen", "#editor_erase");
				sketchpad.editing(true);
			});
			$("#editor_fuzzy").click(function() {
				select("#editor_fuzzy", "#editor_solid");
				sketchpad.pen().opacity(0.3);
			});

			$("#editor_draw_erase").toggle(function() {
				sketchpad.editing("erase");
			}, function() {
				$(this).text("Draw");
				sketchpad.editing(true);
			});

			function update_actions() {
				enable("#editor_undo", sketchpad.undoable());
				enable("#editor_redo", sketchpad.redoable());
				enable("#editor_clear", sketchpad.strokes().length > 0);
			}

			sketchpad.change(update_actions);

			update_actions();
		});
		</script>
</div>
{% endblock js_include %}