{% extends "themes/navbar.html" %}

{% block style %}

{% endblock %}

{% block content %}

    <div class="span8 offset2">

        <div class="well">
            <canvas id="viewer"></canvas>
        </div>

        <div>
            <input class="input-block-level" placeholder="Describe the drawing here" id="story">
            <a class="btn btn-primary pull-right" onclick="submitStory()" style="margin-top: 10px">Submit</a>
        </div>

    </div>

{% endblock content %}

{% block js_include %}

    <script src="{{ url_for('static', filename="js/responsive-sketchpad.js")}}"></script>

    <script>

        window.onbeforeunload = function(){
            $.ajax({
                type: "GET",
                url: "/game/evict/{{ game.key() }}",
                async: false
            });
        };

        // Initialize viewer
        var sketchpad = $('#viewer').sketchpad({
            backgroundColor: '#fff',
            data: {{ sketch_json | safe }},
            locked: true
        });

        // Submit Story
        function submitStory() {
            $.ajax({
                type: "POST",
                url: "/game/sketch/{{ game.key() }}",
                data: JSON.stringify({
                    round_type: 'story',
                    data: $('#story').val()
                }),
                contentType: 'application/json',
                dataType: 'json',
                complete: function() {
                    window.location = "{{ url_for('success') }}"
                }
            })
        }

    </script>

{% endblock js_include %}