{% extends "themes/base.html" %}

{% block content %}
    <div class="hero-unit" align='center'>
        <h1 >Success!</h1>
        <h4 class="muted" >We will notify you when or if you can participate in this game again!</h4>
           <!-- game stats -->
           <div >
               <p>
                <a class="btn btn-large btn-primary  i" id="prev"><i class="icon-facebook-sign icon-2x"></i>        Invite Your friends!</a>
                <a class="btn btn-large i" id="prev"><i class="icon-reply icon-2x"></i>        Join Another Game!</a>
            </p>
            <p>
                <a class="btn btn-large btn i" id="prev"><i class="icon-bullhorn icon-2x"></i>        Give Us a Shout Out!</a>
                <a class="btn btn-large btn btn-warning i" id="prev"><i class="icon-beer icon-2x"></i>        Party?</a>
            </p>
        </div>
    </div>
{% endblock content %}
