{% extends "auth/base_form.html" %}

{% block form %}

    <form class="form-signin" action="" method="post">
        <h3 class="form-signin-heading">Sign In</h3>
        {{ form.csrf_token }}

        {{ form.email(placeholder="email", class="input-block-level") }}
        {{ form.password(placeholder="password", class="input-block-level") }}

        <div>
            <div style="float: left">
                <label class="checkbox">
                    {{ form.remember }}Remember&nbsp;me
                </label>
            </div>
            <div style="text-align: right; padding-bottom: 5px; float: right;">
                <a href="{{ url_for('register') }}">Register</a>
            </div>
        </div>

        <div class="btn-container">
            {{ form.submit(class="btn btn-primary btn-block btn-large") }}
        </div>
    </form>

{% endblock %}
