{% extends "auth/base_form.html" %}

{% block form %}

    <form class="form-signin" action="" method="post">
        <h3 class="form-signin-heading">Register</h3>
        {{ form.csrf_token }}

        {% if verification %}
            {{ form.username(placeholder="username", class="input-block-level") }}

            {{ form.password(placeholder="password", class="input-block-level") }}

            {{ form.confirm(placeholder="confirm password", class="input-block-level") }}

            <label class="checkbox">
                {{ form.remember }}Remember me
            </label>

        {% else %}

            {{ form.email(class="input-block-level", placeholder="email") }}

        {% endif %}

        <div class="btn-container">
            {{ form.submit(class="btn btn-primary btn-block btn-large") }}
        </div>
    </form>

{% endblock %}

