{% extends "themes/base.html" %}

{% block style %}
    <style>

        h2 img {
            padding-right: 20px;
        }



        {# Hide Created Column on Mobile #}
        @media (max-width: 640px) {
            .col-created {display: none;}
            .col-createdby {display: none;}
        }
        @media (max-width: 480px) {
            .col-lastplayed{display: none;}
            .col-rounds {display: none;}
            .col-currentplayer {display: none;}
        }


        .table-container {
            margin-top: 3px;
            width: 100%;
        }


        .accordion-body.in:hover {
            overflow:visible;
        }


    </style>
{% endblock %}

{% block content %}

    <div class="span10 offset1">
        <h2>
            {% if current_user.is_facebook_user() %}
                <img src="https://graph.facebook.com/{{ current_user.facebook_id }}/picture?width=100&height=100" width="100" height="100">
                {{ current_user.display_name }} <span class="muted" style="font-size: 20px">({{ current_user.username }})</span>
            {% else %}
                <img src="{{ url_for('static', filename="img/blank-facebook.jpg") }}" width="100" height="100">
                {{ current_user.display_name }}
            {% endif %}
        </h2>

        <hr>
        <div id = "alert_placeholder"></div>
        <div class="accordion" id="user-accordion">

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#user-accordion" href="#info">
                        <i class="icon-dashboard"></i><span class="divide"></span> Account Info
                    </a>
                </div>
                <div id="info" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="table-container">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ current_user.email }}</td>
                                </tr>
                                <tr>
                                    <td>Games</td>
                                    <td>{{ current_user.get_game_count() }}</td>
                                </tr>
                                {% if current_user.administrator %}
                                    <tr>
                                        <td>Administrator</td>
                                        <td>{{ current_user.administrator }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>Member Since</td>
                                    <td>{{ current_user.created|pretty_date }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#user-accordion" href="#notifications">
                        <i class="icon-comment"></i><span class="divide"></span> Notifications
                    </a>
                </div>
                <div id="notifications" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="table-container">
                            <table class="table table-hover" id="notifications-table">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Sent</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if notifications %}
                                    {% for notification in notifications|sort(attribute='sent')|reverse %}
                                        <tr href="{{ notification.link }}" {% if not notification.read %} class="info" {% endif %} style="cursor: pointer">
                                            <td>{{ notification.title }}</td>
                                            <td>{{ notification.description|safe}}</td>
                                            <td>{{ notification.sent|pretty_date }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3" style="text-align: center;"><strong>No Notifications!</strong></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#user-accordion" href="#games">
                        <i class="icon-trophy"></i><span class="divide"></span> Games
                    </a>
                </div>
                <div id="games" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="table-container">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="col-name">Name</th>
                                    <th class="col-rounds">Rounds</th>
                                    <th class="col-lastplayed">Last Played</th>
                                    <th class="col-created">Created</th>
                                    <th class="col-createdby">Created By</th>
                                    <th class="col-currentplayer">Current Player</th>
                                    <th class="col-actions">Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% if games %}
                                    {% for game in games|sort(attribute='last_updated')|reverse %}
                                        <tr>
                                            <td class="col-name">{{ game.title }}</td>
                                            <td class="col-rounds">{{ game.num_rounds }} / {{ game.max_rounds }}</td>
                                            <td class="col-lastplayed">{{ game.last_updated|pretty_date }}</td>
                                            <td class="col-created">{{ game.created|pretty_date }}</td>
                                            <td class="col-createdby">{{ game.created_by.display_name }}</td>
                                            <td class="col-currentplayer">{% if game.is_occupied() %}{{ game.occupant_name }}{% endif %}</td>
                                            <td class="col-actions">
                                                <div class="btn-group">
                                                    <a href="/game/{{ game.key() }}" class="btn btn-primary"><i class="icon-pencil"></i> Play</a>
                                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="/game/timeline/{{ game.key() }}"><i class="icon-list-alt"></i> View Timeline</a></li>
                                                        {% if current_user.key() == game.created_by.key() or current_user.administrator %}
                                                            <li><a href="/game/edit/{{ game.key() }}"><i class="icon-edit"></i> Edit Game</a></li>
                                                        {% endif %}
                                                        {% if (current_user.key() == game.created_by.key() or current_user.administrator) and game.is_occupied() %}
                                                            <li><a href="/game/evict/{{ game.key() }}"><i class="icon-unlock"></i> Evict {{ game.occupant_name }}</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="7" style="text-align: center;">
                                            <strong><a href="{{ url_for('wizard') }}">Create</a> or <a href="{{ url_for('search') }}">Join</a> a Game!</strong>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="pull-right">
            <br>
            {% if current_user.is_base_user() %}

                <a class="btn btn-primary" href="{{ url_for('password') }}">
                    Change Password
                </a>

            {% endif %}

            {% if current_user.is_facebook_user() %}

                <a class="btn btn-primary" href="{{ url_for('facebook_deauth') }}">
                    <i class="icon-facebook-sign icon-large"></i> Disconnect
                </a>

            {% else %}

                <a class="btn btn-primary" href="{{ url_for('facebook_login') }}">
                    <i class="icon-facebook-sign icon-large"></i> Connect
                </a>

            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block js_include %}

    <script type="text/javascript">

        {# Mark notifications as read #}
        function readNotifications() {
            $.get("{{ url_for('notifications') }}")
        }

        $(document).ready(function() {
            $('#notifications').bind('shown', readNotifications());
            $('a[href="#notifications"]').bind('click', readNotifications());

            {# Auto open collapse #}
            var hash = window.location.hash;
            $('a[href^="' + hash + '"]').click();

            {# Make Row clickable #}
            $('#notifications-table tr').click(function(){
                window.location = $(this).attr('href');
                return false;
            });
        });

    </script>

{% endblock %}