<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sketchophone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico" />
    <!-- Le styles -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <style>
        html,
        body {
            height: 100%;
        }

        #page-container {
            padding-top: 40px;
        }

        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -60px;
        }

        #push,
        #footer {
            height: 60px;
            text-align: center;
        }

        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    </style>

    <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/bootstrap-tagmanager.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/bootstrap.dataTables.css") }}" rel="stylesheet">

    {% block style %}{% endblock %}

</head>

<body>

<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ url_for('home')}}">Sketchophone</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {% if current_user.is_authenticated() %}
                            {% if current_user.unread_notification_count %}
                                <li>
                                    <a href="{{ url_for('user') }}#notifications"><span class="badge badge-info">{{ current_user.unread_notification_count }}</span></a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% if current_user.is_authenticated() %}
                                    {{ current_user.display_name }}
                                {% else %}
                                    Get Started
                                {% endif %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                {% if current_user.is_authenticated() %}
                                    <li><a href="{{ url_for('user') }}#games"><i class="icon-pencil"></i> My Games</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ url_for('user') }}"><i class="icon-user"></i> My Account</a></li>
                                    <li><a href="{{ url_for('logout') }}"><i class="icon-lock"></i> Logout</a></li>
                                {% else %}
                                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                                    <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="page-container">
        <div class="row-fluid">
            <div class="span8 offset2">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} fade in">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="row-fluid">
                <div class="span8 offset2">
                    <div id="content">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container"
    <p class="muted">&copy; Sketchophone 2013</p>
    <ul class="inline">
        <li><a href="{{ url_for('about')}}">About Us</a></li>
        <li>|</li>
        <li><a href="mailto:sketchophoneapp@gmail.com">Contact</a></li>
        <li>|</li>
        <li><a href="{{ url_for('instructions') }}">How to Play</a></li>
    </ul>
</div>
</div>



<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename="js/jquery-1.9.0.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/bootstrap-tagmanager.js") }}"></script>
<script src="{{ url_for('static', filename="js/jquery.dataTables.js") }}"></script>
{% block js_include %}{% endblock %}

<script type="text/javascript">
    window.onload = function() {
        // Fade out alerts
        $(".alert").delay(3000).fadeOut("slow", function () { $(this).remove(); });
    }
</script>

</body>
</html>