<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sketchophone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {# Icons #}
    <!-- Fav and touch icons -->
    {#    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">#}
    {#    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">#}
    {#    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">#}
    {#    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">#}
    <link href="{{ url_for('static', filename="img/favicon.css") }}" rel="icon">

    <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">

    {% block style %}{% endblock %}

</head>

<body>

<div id="content">{% block content %}{% endblock %}</div>


<script src="{{ url_for('static', filename="js/jquery-2.0.0.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>

{% block js_include %}{% endblock %}

</body>
</html>